{{ header }}{{ column_left }} 
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-cedtom_setting" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %} 
        <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %} 
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if (error_warning) %} 
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
    {% if (success_message) %} 
    <div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> {{ success_message }} 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ heading_title }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-cedtom_setting" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-setting" data-toggle="tab" >{{ tab_setting }}</a></li>
            <li><a href="#tab-product" data-toggle="tab">{{ tab_product }}</a></li>
            <li><a href="#tab-order" data-toggle="tab">{{ tab_order }}</a></li>
            <li><a href="#tab-cron" data-toggle="tab">{{ tab_cron }}</a></li> 
            
          </ul>
          <div class="tab-content">
            <div class="tab-pane active in" id="tab-setting">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                <div class="col-sm-10">
                  <select name="cedtom_status" id="input-status" class="form-control">
                    {% if (cedtom_status) %} 
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %} 
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %} 
                  </select>
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-api_url">{{ entry_api_url }}</label>
                <div class="col-sm-10">
                  <input type="text" name="cedtom_api_url" value="{{ cedtom_api_url }}" placeholder="{{ entry_api_url }}" id="input-api_url" class="form-control"/>
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-email">{{ entry_email }}</label>
                <div class="col-sm-10">
                  <input type="email" name="cedtom_email" value="{{ cedtom_email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control"/>
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-password">{{ entry_password }}</label>
                <div class="col-sm-10">
                  <input type="text" name="cedtom_password" value="{{ cedtom_password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                  <button type="button" onclick="authenticateDetails(this)" class="btn btn-primary">{{ entry_authencicate }}</button>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-token">{{ entry_token }}</label>
                <div class="col-sm-10">
                  <input type="text" name="cedtom_token" value="{{ cedtom_token }}" placeholder="{{ entry_token }}" id="input-token" class="form-control" readonly="readonly" />
                  <input type="hidden" name="cedtom_time" value="{{ cedtom_time }}" />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-product">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-price_choice">{{ entry_price_choice }}</label>
                <div class="col-sm-10">
                  <select name="cedtom_price_choice" id="input-price_choice" onchange="priceChoice(this);" class="form-control">
                    {% for key,value in price_choices %} 
                    {% if (cedtom_price_choice == key) %} 
                    <option value="{{ key }}" selected="selected">{{ value }}</option>
                    {% else %} 
                    <option value="{{ key }}">{{ value }}</option>
                    {% endif %} 
                    {% endfor %} 
                  </select>
                </div>
              </div>
              <div class="form-group" id="variable_price_wrapper">
                <label class="col-sm-2 control-label"for="input-cedtom_variable_price"><span data-toggle="tooltip" title="{{ entry_variable_price }}">{{ entry_variable_price }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="cedtom_variable_price" value="{{ cedtom_variable_price }}" placeholder="{{ entry_variable_price }}" id="input-variable_price" class="form-control" />
                  <span><i>Fill Only Integer value</i></span>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-order">

            </div>
            <div class="tab-pane" id="tab-cron">
              <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-cron_secret">{{ label_cron_token }}</label>
                  <div class="col-sm-4">
                      <input type="text" name="cedtom_cron_token" value="{{ cedtom_cron_token }}" placeholder="{{ label_cron_token }}" id="input-cron_secret" class="form-control"  />
                  </div>
                  <div class="col-sm-4">
                      <button class="btn btn-primary" type="button" onclick="generateCronSecureKey();">
                          <i class="fa fa-refresh"></i>
                          <span> Generate Token</span>
                      </button>
                  </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-order-cron">{{ label_image_cron }}</label>
                <div class="col-sm-10">
                  <div class="input-group">
                     <span class="input-group-addon"><i class="fa fa-link"></i></span>
                      <input type="text" id="input-order-cron" class="form-control" value="{{ cedtom_image_cron }}" readonly="readonly" />
                    </div>
                </div>
               </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-order-cron-time">{{ label_image_cron_timing }}</label>
                  <div class="col-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                      <input type="text" id="input-order-cron-time" class="form-control" value="{{ cedtom_image_cron_time }}" readonly="readonly" />
                     </div>
                  </div>
                </div>

               <div class="form-group">
                <label class="col-sm-2 control-label" for="input-inventory-cron">{{ label_inventory_cron }}</label>
                <div class="col-sm-10">
                  <div class="input-group">
                     <span class="input-group-addon"><i class="fa fa-link"></i></span>
                     <input type="text" id="input-inventory-cron" class="form-control" value="{{ cedtom_inventory_cron }}" readonly="readonly" />
                  </div>
                </div>
               </div>

               <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-inventory-cron-time">{{ label_inventory_cron_timing }}</label>
                  <div class="col-sm-10">
                    <div class="input-group">
                       <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                       <input type="text" id="input-inventory-cron-time" class="form-control" value="{{ cedtom_inventory_cron_time }}" readonly="readonly" />
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function authenticateDetails(upload_object) {
    var api_url = $('input[name=\'cedtom_api_url\']').val();
    var email = $('input[name=\'cedtom_email\']').val();
    var password = $('input[name=\'cedtom_password\']').val();

    url = 'index.php?route=extension/module/cedtom/authenticateDetails&{{ session_token_key }}={{ session_token }}';
    $.ajax({
        url: url,
        type: "POST",
        data: {'api_url':api_url, 'email':email, 'password':password},
        dataType: 'json',
        cache: false,
        beforeSend: function() {
            $(upload_object).attr('disabled', true);
            $(upload_object).after('<span class="cedtom-loading fa fa-spinner" style="margin-left:2px"></span>');
        },
        complete: function() {
            $(upload_object).attr('disabled', false);
            $('.cedtom-loading').remove();
        },
        success: function(json) {
            if(json.token) {
               $('input[name=\'cedtom_token\']').val(json.token);
               $('input[name=\'cedtom_time\']').val(json.valid_until);
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
  }
</script>
<script type="text/javascript">
  window.onload = function(){
    var price_choice = document.getElementById("input-price_choice");
    
    var  array = ["2","3","4","5"];
    if (price_choice && price_choice.value) {
        if (array.indexOf(price_choice.value) != -1) {
            document.getElementById("variable_price_wrapper").style.display = "";
        } else {
            document.getElementById("variable_price_wrapper").style.display = "none";
        }
    } else {
        document.getElementById("variable_price_wrapper").style.display = "none";
    }

    var cedtom_cron_token = '{{ cedtom_cron_token }}';
    var order_cron_url = '{{ cedtom_image_cron }}';
    $('#input-order-cron').attr('value', order_cron_url+cedtom_cron_token);
    var inventory_url = '{{ cedtom_inventory_cron }}';
    $('#input-inventory-cron').attr('value', inventory_url+cedtom_cron_token);
  }
  function priceChoice(selected){
      if(selected){
          var  array = ["2","3","4","5"];
          if (array.indexOf(selected.value) != -1) {
              document.getElementById("variable_price_wrapper").style.display = "";
          } else {
              document.getElementById("variable_price_wrapper").style.display = "none";
          }
      }
  }
  $( document ).ready(function() {
      var price_choice = document.getElementById("input-price_choice");
      var  array = ["2","3","4","5"];
      if (price_choice && price_choice.value) {
          if (array.indexOf(price_choice.value) != -1) {
              document.getElementById("variable_price_wrapper").style.display = "";
          } else {
              document.getElementById("variable_price_wrapper").style.display = "none";
          }
      } else {
          document.getElementById("variable_price_wrapper").style.display = "none";
      }
  });

  function copyText() {
    var copyText = document.getElementById("entry-auth_url");
    copyText.select();
    copyText.setSelectionRange(0, 99999)
    document.execCommand("copy");
    alert("Copied the text: " + copyText.value);
  }
</script>
<script type="text/javascript">     
function generateCronSecureKey(){
  url = 'index.php?route=extension/module/cedtom/generateCronSecureKey&{{ session_token_key }}={{ session_token }}';
  $.ajax({
      url: url,
      dataType: 'json',
      cache: false,
      beforeSend: function() {
          $('#input-cron_secret').attr('value', '');
      },
      complete: function() {
          
      },
      success: function(json) {
          if(json.success){
            $('#input-cron_secret').attr('value', json.token);
            var order_image_url = '{{ cedtom_image_cron }}';
            $('#input-order-cron').attr('value', order_image_url+json.token);
            var inventory_url = '{{ cedtom_inventory_cron }}';
            $('#input-inventory-cron').attr('value', inventory_url+json.token);
          }
      },
      error: function(xhr, ajaxOptions, thrownError) {
          alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
  });
}
</script>
    <style type="text/css">
      .token_message_success{
        position: absolute;
        margin: 8px 0 0 -18px;
        color: green;
        font-weight: bold;
      }
      .token_message_error{
        position: absolute;
        margin: 8px 0 0 -18px;
        color: red;
        font-weight: bold;
      }
      .ajax_message , .ajax_message_verify{
        color: orange;
      }
    </style>
{{ footer }}